.body__container {
  display: flex;
  flex-direction: column;
}

.body__playlists {
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
}
.playlists__scroll {
  width: 250vw;
}

.body__playlists .playlist__container p {
  margin-left: 0.6rem;
}
